In [0]:
from delta.tables import * 

from pyspark.sql.types import * 

from pyspark.sql.functions import *

In [0]:
DeltaTable.createOrReplace(spark)\
          .tableName('employee_demo')\
          .addColumn('emp_id',IntegerType(),False)\
          .addColumn('emp_name',StringType(),False)\
          .addColumn('gender',StringType(),False)\
          .addColumn('age',IntegerType(),False)\
          .addColumn('sal',IntegerType(),True)\
          .addColumn('dept',StringType(),True)\
          .property("description","for practise purpose")\
          .location("/FilseStore/tables/delta/practice_delta")\
          .execute()

Out[5]: <delta.tables.DeltaTable at 0x7f86f8961d00>

In [0]:
%sql 

truncate table employee_demo

In [0]:
%sql 

select * from employee_demo

In [0]:
%sql

INSERT INTO employee_demo 
VALUES 
  (1, 'John Doe', 'Male', 30, 50000, 'IT'),
  (2, 'Jane Smith', 'Female', 35, 60000, 'HR'),
  (3, 'Michael Johnson', 'Male', 40, 70000, 'Finance'),
  (4, 'Emily Davis', 'Female', 25, 55000, 'Marketing'),
  (5, 'David Brown', 'Male', 45, 80000, 'Operations'),
  (6, 'Sarah Wilson', 'Female', 32, 65000, 'IT'),
  (7, 'James Taylor', 'Male', 28, 48000, 'HR'),
  (8, 'Olivia Martinez', 'Female', 38, 72000, 'Finance')

num_affected_rows,num_inserted_rows
8,8

In [0]:
emp_table_instance=DeltaTable.forName(spark,'employee_demo')

display(emp_table_instance.toDF())

emp_id,emp_name,gender,age,sal,dept
1,John Doe,Male,30,50000,IT
2,Jane Smith,Female,35,60000,HR
3,Michael Johnson,Male,40,70000,Finance
4,Emily Davis,Female,25,55000,Marketing
5,David Brown,Male,45,80000,Operations
6,Sarah Wilson,Female,32,65000,IT
7,James Taylor,Male,28,48000,HR
8,Olivia Martinez,Female,38,72000,Finance

#M1: SQL using (table name and location)

In [0]:
%sql 

delete from employee_demo where emp_id=8; 

select * from employee_demo;

emp_id,emp_name,gender,age,sal,dept
1,John Doe,Male,30,50000,IT
2,Jane Smith,Female,35,60000,HR
3,Michael Johnson,Male,40,70000,Finance
4,Emily Davis,Female,25,55000,Marketing
5,David Brown,Male,45,80000,Operations
6,Sarah Wilson,Female,32,65000,IT
7,James Taylor,Male,28,48000,HR

In [0]:
%sql 

DELETE FROM delta.`/FilseStore/tables/delta/practice_delta`
WHERE emp_id = 7;

select * from employee_demo;

emp_id,emp_name,gender,age,sal,dept
1,John Doe,Male,30,50000,IT
2,Jane Smith,Female,35,60000,HR
3,Michael Johnson,Male,40,70000,Finance
4,Emily Davis,Female,25,55000,Marketing
5,David Brown,Male,45,80000,Operations
6,Sarah Wilson,Female,32,65000,IT

#m2: delta table instance

In [0]:
emp_table_instance=DeltaTable.forName(spark,'employee_demo')

In [0]:
emp_table_instance.delete("emp_id=6") 

display(emp_table_instance.toDF())

emp_id,emp_name,gender,age,sal,dept
1,John Doe,Male,30,50000,IT
2,Jane Smith,Female,35,60000,HR
3,Michael Johnson,Male,40,70000,Finance
4,Emily Davis,Female,25,55000,Marketing
5,David Brown,Male,45,80000,Operations

#multi condition delete

In [0]:
emp_table_instance.delete("emp_id=5 and age>42") 

display(emp_table_instance.toDF())

emp_id,emp_name,gender,age,sal,dept
1,John Doe,Male,30,50000,IT
2,Jane Smith,Female,35,60000,HR
3,Michael Johnson,Male,40,70000,Finance
4,Emily Davis,Female,25,55000,Marketing

#using spark sql perdicate

In [0]:
emp_table_instance.delete((col('emp_id')==4) | (col('emp_id')==3))
display(emp_table_instance.toDF())

emp_id,emp_name,gender,age,sal,dept
1,John Doe,Male,30,50000,IT
2,Jane Smith,Female,35,60000,HR